@model IEnumerable<SonataCinemaV2.ViewModel.PhimMoi>

<div class="row mt-4">
    <div class="col-md-3 col-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total Movies</h5>
                <p class="card-text" style="font-size: 2rem;">35</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total Customers</h5>
                <p class="card-text" style="font-size: 2rem;">300</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total Revenue</h5>
                <p class="card-text" style="font-size: 2rem;">1,000,000đ</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Total Bookings</h5>
                <p class="card-text" style="font-size: 2rem;">150</p>
            </div>
        </div>
    </div>
</div>
